{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated%}

<h1 class="display-2">Welcome to CRM App</h1>

<h1 class="display-4">Head on to customers listing Page <a href="{% url 'customers' %}">here</a></h1>

{% else %}
<div class="col-md-6 offset-md-3">
    <h1 class="mb-4">Login</h1>
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <form>
            <div class="form-group">
                <input type="text" class="form-control mb-2" name="username" placeholder="Username" required>
            </div>
            <div class="form-group">
                <input type="password" class="form-control mb-3" name="password" placeholder="Password" required>
            </div>
            <button type="submit" class="btn btn-dark">Login</button>
        </form>
    </form>
</div>
{% endif %}
{% endblock %}
